In [4]:
import pandas as pd
from pandas import DataFrame

In [5]:
df = pd.read_csv('../datasets/airquality.csv', header=0)
df

     Ozone  Solar.R  Wind  Temp  Month  Day
0     41.0    190.0   7.4    67      5    1
1     36.0    118.0   8.0    72      5    2
2     12.0    149.0  12.6    74      5    3
3     18.0    313.0  11.5    62      5    4
4      NaN      NaN  14.3    56      5    5
..     ...      ...   ...   ...    ...  ...
148   30.0    193.0   6.9    70      9   26
149    NaN    145.0  13.2    77      9   27
150   14.0    191.0  14.3    75      9   28
151   18.0    131.0   8.0    76      9   29
152   20.0    223.0  11.5    68      9   30

[153 rows x 6 columns]

In [6]:
df.shape[0]

153

In [7]:
df.shape[1]

6

In [8]:
sum([True for idx, row in df.iterrows() if not any(row.isna())])

111

In [9]:
def show_statistic(df, column_name):
    print(f"Статистика по {column_name}")
    print(df[column_name].dropna().min())
    print(df[column_name].dropna().max())
    print(df[column_name].dropna().mean())

In [10]:
show_statistic(df, 'Ozone')

Статистика по Ozone
1.0
168.0
42.12931034482759

In [11]:
show_statistic(df, 'Solar.R')

Статистика по Solar.R
7.0
334.0
185.93150684931507

In [12]:
show_statistic(df, 'Wind')

Статистика по Wind
1.7
20.7
9.957516339869281

In [13]:
show_statistic(df, 'Temp')

Статистика по Temp
56
97
77.88235294117646

In [14]:
df.loc[df['Month'] == 5, 'Solar.R'].dropna().mean()

181.2962962962963

In [15]:
def mean_air(df: DataFrame, column_name: str, temp_min: int = 60, temp_max: int = 80) -> float:
    return df.loc[df['Temp'].between(temp_min, temp_max), column_name].dropna().mean()

mean_air(df, 'Ozone')

23.775862068965516

In [16]:
df.groupby('Month').mean()['Solar.R']

Month
5    181.296296
6    190.166667
7    216.483871
8    171.857143
9    167.433333
Name: Solar.R, dtype: float64

In [17]:
def max_temp(df: DataFrame, days: int = 1):
    return df.sort_values(by=['Temp'], ascending=False).head(days)[['Month', 'Day']]

max_temp(df, 5)

     Month  Day
119      8   28
121      8   30
122      8   31
120      8   29
41       6   11

In [18]:
def generate_test_set(df: DataFrame, perc: float = 20.) -> DataFrame:
    if perc > 100 or perc < 0:
        raise ValueError(f"incorrect percentile for test generation: {perc}")

    return df.sample(int(df.shape[0] * perc / 100))

generate_test_set(df)

     Ozone  Solar.R  Wind  Temp  Month  Day
143   13.0    238.0  12.6    64      9   21
34     NaN    186.0   9.2    84      6    4
77    35.0    274.0  10.3    82      7   17
4      NaN      NaN  14.3    56      5    5
95    78.0      NaN   6.9    86      8    4
31     NaN    286.0   8.6    78      6    1
101    NaN    222.0   8.6    92      8   10
9      NaN    194.0   8.6    69      5   10
57     NaN     47.0  10.3    73      6   27
25     NaN    266.0  14.9    58      5   26
64     NaN    101.0  10.9    84      7    4
38     NaN    273.0   6.9    87      6    8
6     23.0    299.0   8.6    65      5    7
43    23.0    148.0   8.0    82      6   13
5     28.0      NaN  14.9    66      5    6
96    35.0      NaN   7.4    85      8    5
81    16.0      7.0   6.9    74      7   21
71     NaN    139.0   8.6    82      7   11
147   14.0     20.0  16.6    63      9   25
26     NaN      NaN   8.0    57      5   27
19    11.0     44.0   9.7    62      5   20
27    23.0     13.0  12.0    67      5   28
12    11.0    290.0   9.2    66      5   13
125   73.0    183.0   2.8    93      9    3
97    66.0      NaN   4.6    87      8    6
69    97.0    272.0   5.7    92      7    9
83     NaN    295.0  11.5    82      7   23
106    NaN     64.0  11.5    79      8   15
130   23.0    220.0  10.3    78      9    8
3     18.0    313.0  11.5    62      5    4